.manara-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    width: 100px;
}

.spinner-border {
    margin-left: 10px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .manara-logo {
        right: 10px;
    }
}